<div class="flex-container">
<div class="flex-item">
    <form ng-submit="login()">
        <label class="myFont">user name :</label>
        <input type="text" ng-model="Username" name="text" class="textar" placeholder="Username" required/>
        </br>
        <label class="myFont">password :</label>
        <input type="password" ng-model="Password" name="text" class="textar" placeholder="Password" required/>
        </br>
        <center> <input type="submit" class="myButton" id="submit" value="היכנס" /></center>
    </form>
</div>
<div class="flex-item">
    <form ng-submit="register()">
    <label class="myFont"> User Name :</label>
    <input type="text" ng-model="userName" name="text" class="textar" placeholder="שם משתמש" required/>
    </br>
    <label class="myFont"> First Name :</label>
    <label class="myFont"> Telephone :</label>
    <input type="number" ng-model="telephone" name="text" class="textar" placeholder="טלפון" required/>
    </br>
    <label class="myFont"> Email    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; :</label>
    <input type="email" ng-model="email" name="text" class="textar" placeholder="אימייל" required/>
    </br>
    <label class="myFont"> password  &nbsp;&nbsp;  :</label>
    <input type="text" ng-model="password" name="text" class="textar" placeholder="סיסמא" required/>
    </br>
    <input type="submit" id="submit" class="myButton" value="הירשם" />
</form>
</div>
<div class="flex-item"><img src="images/MyProfile.png" width="180" height="320"></div>
