<md-button class="menu" ng-click="toggleLeft()">
    <md-icon md-svg-icon="menu"></md-icon>
</md-button>
</br></br></br></br>
<div class="flex-container">
    <div layout="row" layout-sm="column" md-colors="{color: 'red-A100', border-color: 'primary-600'}">
        <div flex>
            <form ng-submit="register()">
                <md-input-container>
                    <label> User Name :</label>
                    <input type="text" ng-model="username" name="text"  placeholder="שם משתמש" required/>
                </md-input-container>

                <md-input-container>
                    <label> First Name :</label>
                    <input type="text" ng-model="firstname" name="text"  placeholder="שם פרטי" required/>
                </md-input-container>

                <md-input-container>
                    <label> Last Name :</label>
                    <input type="text" ng-model="lastname" name="text"  placeholder="שם משפחה" required/>
                </md-input-container>

                <md-input-container>
                    <label> Telephone :</label>
                    <input type="number" ng-model="telephone" name="text"  placeholder="טלפון" required/>
                </md-input-container>
                <md-input-container>
                    <label> Email &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; :</label>
                    <input type="email" ng-model="email" name="text"  placeholder="אימייל" required/>
                </md-input-container>
                <md-input-container>
                    <label> birthdate &nbsp;&nbsp; :</label>
                    <input type="date" ng-model="birthdate"  name="text" required/>
                </md-input-container>
                <md-input-container>
                    <label> password &nbsp;&nbsp; :</label>
                    <input type="text" ng-model="password" name="text"  placeholder="סיסמא" required/>
                </md-input-container>
                <md-input-container>
                    <input type="file" name="file"  onchange="angular.element(this).scope().uploadFile(this.files)"/>
                </md-input-container>
                <md-input-container>
                    <md-button type="submit" id="submit">שמור</md-button>
                </md-input-container>
            </form>
        </div>

        <div flex hide-sm hide-xs>
            <!--img src="images/MyProfile.png" width="180" height="320"-->
        </div>
    </div>

</div>






<div class="container" layout="row" flex>

    <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop="" md-whiteframe="4">
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Menu</h1>
        </md-toolbar>

        <md-content layout-margin="" align="center">
            <md-button class="account_circle" ng-click="goToUserInformation()">
                <md-icon md-svg-icon="account_circle" ></md-icon> <div>{{userName}} Information</div>
            </md-button>
            </br>
            <md-button class="group" ng-click="goToGroups()" >
                <md-icon md-svg-icon="group" ></md-icon> <div>  Manage Groups </div>
            </md-button>
            </br>
            <md-button class="attach_money" ng-click="goToMain()">
                <md-icon md-svg-icon="attach_money"></md-icon><div>Bank Manager</div>
            </md-button>
            </br>

        <md-button class="copyright" ng-click="goToCopyright()">
            <md-icon md-svg-icon="copyright"></md-icon>
            <div>copyright</div>
        </md-button>
        </br>

        </md-content>
    </md-sidenav>


</div>